<div class="row">
  <div class="scrollbar col-md-12" role="navigation">
    <div class="col-md-10 offset-1">
      <div class="row listingbox" *ngFor="let listing of listings">

        <div class="listingbox_div col-md-3">
          <img src="{{listing.image}}" alt="Bike image">
        </div>

        <div class="listingbox_div container col-md-7">
            <h5>{{ listing.title }}</h5>
            <p>{{ listing.description }}</p>
        </div>


        <div class="listingbox_div col-md-2">
          <h3>${{ listing.price }}</h3>
          <p>{{ listing.location }}</p>
          <button *ngIf="!loggeduser_listings.indexOf(listing._id)" class="btn btn-warning">Contact</button>
          <button *ngIf="loggeduser_listings.indexOf(listing._id)" class="btn btn-danger">DELETE</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
